// DESKTOP
@media only screen and (min-width: 1024px) {
  body, html {font-size: 18px;}
  h2 {
    font-size: $headline-size;
  }

  .content {
    height: 100%;
    left: 0;
    position: absolute;
    margin: 0;
    top: 0;
    width: 100%;
  }

  .head {
    align-content: flex-end;
    display: flex;
    position: relative;
    margin: 3rem 0;
    .line {
      position: absolute;
      bottom: 0;
    }
    h2 {
      margin: 0;
      margin-bottom: -1.425rem;
    }
  }

  h3 {
    font-size: 2.6rem;
  }

  section {
    font-size: 1.3rem;
  }

  nav {
    display: flex;
    height: 52px;
    justify-content: space-between;
    padding: 0 1em;
    > div {flex: 0 0 auto;}
    .main-nav {
      background: none;
      position: static;
      display: flex;
      flex-direction: row;
      align-self: inherit;
      margin: 0 4rem 0 0;
      > li > a {padding: 0 1em;}
      .dropdown {
        &.open {
          .arrow {
            transform: rotate(270deg);
            transform-origin: center;
            transition: all .3s ease;
          }  
        }
        .arrow {
          display: inline-block;
          font-size: 1.25rem;
          font-style: normal;
          height: 100%;
          text-align: center;
          margin-left: .5rem;
          transform: rotate(90deg);
          transition: all .3s ease;
          width: auto;
        }
      }
    }
    .sub-nav {
      align-items: flex-start;
      background-color: #fff;
      height: 47px;
      display: none;
      flex-direction: column;
      justify-content: flex-start;
      left: 0rem;
      position: absolute;
      transition: all .5s ease;
      overflow: hidden;
      top: 34px;
      width: 120%;
      > li {
        text-align: left;
        > a {
          cursor: pointer;
          display: block;
          padding: .125rem 1rem;
          width: 100%;
          &:hover {
            background: rgba(234, 61, 148, .2)
          }
        }
      }
      &.open {
        display: block;
        transition: all .5s ease;
      }
    }
    .lang-nav {
      > a {
        margin: 0 .25rem;
        &.active {
          color: #000;
          font-weight: 700;
        }
      }
    }
  }


  /* Start Desktop */
  #start {
    background-image: url("../../img/gittehaenning_start_BG.jpg");
    height: 0;
    margin-top: 0;
    min-height: unset;
    padding-top: 51%;
    position: relative;
    .content {
      align-content: center;
      display: flex;
      justify-content: flex-end;
      width: 55%;
    }
    .desc {
      align-self: center;
      font-size: 1.5rem;
      font-style: oblique;
      width: 70%;
    }
  }

  .autograph {
    margin-top: 2rem;
    width: 70%;
  }
  
  /* Career Desktop */
  #career {
    .head {
      padding-left: 5%;
      .line {
        left:0;
      }
    }
    .content {
      position: static;
    }
  }

  #timeline {
    position: relative;
    align-items: flex-start;
    justify-content: start;
    overflow-y: visible;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
    padding: 0 5%;
    width: 100%;
  }

  .slider-content {
    align-items: flex-start;
    display: flex;
    justify-content: start;
    padding: 5% 0 2%;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  .point {
    align-self: flex-start;
    max-width: 15.625rem;
    &:nth-child(2) {
      margin-top: -1rem;
    }
    &:nth-child(3) {
      margin-top: 1rem;
      transform: rotate(2deg);
    }
    &:nth-child(4) {
      margin-top: 5rem;
    }
    &:nth-child(5) {
      margin-top: -4rem;
    }
  }

  /* Live Desktop */
  #live {
    background-image: url("../../img/gittehaenning_live_BG.jpg");
    background-size: 100% auto;
    height: 0;
    padding-top: 51%;
    position: relative;
    .content {
      display: flex;
      left: auto;
      height: auto;
      flex-direction: column;
      justify-content: center;
      right: 0;
      width: 50%;
      .desc {
        width: 90%;
      }
    }
  }

  #termine {
    height: 50vh;
    margin-bottom: 5rem;
    #termin-scroller {
      display: inline-block;
      height: 100%;
      .scroll-content {
        display: inline-block;
        padding: .5rem 0;
      }
    }
  }

  .slider {
    margin-top: -3rem;
    padding: 0 5%;
    position: relative;
    width: 100%;
  }

  .slider-content {
    align-items:center;
    padding: 5.5rem 0 3rem;
  }

  #work {      
    .head {
      margin-bottom: 3rem;
      padding-left: 5%;
      .line {
        left:0;
      }
    }
    .record {
      min-height: 300px;
      min-width: 300px;
      p {
        margin-bottom: .5rem;
        line-height: 120%;
      }
      &:nth-child(1) {
        margin-top: 2rem;
        .card-container {
          height: 300px;
          width: 300px;
        }
      }
      &:nth-child(2) {
        margin: 2rem 0 0 -2rem; 
        z-index: 2;
        .card-container {
          height: 394px;
          width: 394px;
        }
      }
      &:nth-child(3) {
        margin: -13rem 0 0rem 3rem;
        position: relative;
        z-index: 1;
        .card-container {
          height: 350px;
          width: 350px;
        }
      }
      &:nth-child(4) {
        margin: 2rem 0 0 5rem;
        z-index: 2;
        .card-container {
          height: 300px;
          width: 300px;
        }
      }
      &:nth-child(5) {
        margin: 8rem 0 0 -3rem;
        z-index: 0;
        .card-container {
          height: 220px;
          width: 220px;
        }
      }
      &:nth-child(5) {
        margin-top: -18rem;
        .card-container {
          height: 220px;
          width: 220px;
        }
      }
      &:nth-child(6) {
        margin: 17rem 0 0 -7rem;
        .card-container {
          height: 220px;
          width: 220px;
        }
      }
      &:nth-child(7) {
        margin: -5rem 0 0 -2rem;
        .card-container {
          height: 300px;
          width: 300px;
        }
      }
      &:nth-child(8) {
        margin: -20rem 0 0 -1.5rem;
        z-index: 0;
        .card-container {
          height: 270px;
          width: 270px;
        }
      }
      &:nth-child(9) {
        margin: 0 0 0 .5rem;
        .card-container {
          height: 280px;
          width: 280px;
        }
      }
      &:nth-child(10) {
        margin: 0 0 0 .5rem;
        .card-container {
          height: 280px;
          width: 280px;
        }
      }
      &:nth-child(11) {
        margin: 0 0 0 .5rem;
        .card-container {
          height: 280px;
          width: 280px;
        }
      }
      &:nth-child(12) {
        margin: 0 0 0 .5rem;
        .card-container {
          height: 280px;
          width: 280px;
        }
      }
      &:nth-child(13) {
        margin: 0 0 0 .5rem;
        .card-container {
          height: 280px;
          width: 280px;
        }
      }
      &:nth-child(14) {
        margin: 0 0 0 .5rem;
        .card-container {
          height: 280px;
          width: 280px;
        }
      }
      &.open {
        z-index: 10;
      }
    }
    .card-container {
      margin-bottom: .75rem;
      position: relative;
      transition: all 0.3s ease-out;
      transform-origin: center;
    }
    .card {
      box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
      height: 100%;
      position: relative;
      transition: transform .8s;
      transform-style: preserve-3d;
      width: 100%;
      img {
        height: 100%;
        transform-style: preserve-3d;
        width: 100%;
      }
      .front,
      .back {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: absolute;
        width: 100%;
      }
      .back {
        transform: rotateY(180deg);
        background-color: #fff;
        box-sizing: border-box;
        color: #000;
        padding: 1rem;
        p {
          font-size: .7em;
          margin: 0;
          span {
            display: inline-block;
            font-weight: 700;     
          }
        }
        .tracks {
          overflow: auto;
        }
      }
    }
  }

  #contact {
    flex-direction: row;
    .head {
      margin: 3rem 0 5rem;
      .line {
        right: 0;
      }
    }
    .content {
      display: flex;
      position: static;
      justify-content: center;
      flex-direction: row;
      padding: 0 3% 0 6.5%;
      > div {width: 55%;}
      > div:last-child {width: 45%;}
      .desc {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        > div {
          margin-bottom: 2em;
          width: 46%;
        }
      }
    }
    .pic {
      background-color: #fff;
      display: inline-block;
      font-size: 0;
      padding: 0 10px;
      > img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

.legal {
  font-size: 18px;
  line-height: 1.6;
  .content {
    padding: 5rem 0 2rem;
    position: static;
    max-width: 64rem;
    margin: 0 auto;
    width: 86%;
    p {
      font-size: 1rem;
      margin-bottom: 3rem;
    }
    h2 {font-size: 6rem;}
    h3 {
      font-size: 1.75rem;
      margin-bottom: .5rem;
    }
  }
}

@media only screen and (min-width: 1920px) {
  
}