// TABLET
@media only screen and (min-width: 768px) {
  body, html {
    font-size: 20px;
  }
  nav #menuToggle input,
  nav #menuToggle input ~ .menu-icon {display: none;}
  p {
    font-size: 1.25rem;
  }

  .line {
    background-color: $prime-color; 
    height: 1px;
    width: 100%;
    &.white {
      background-color: #fff;
    }
  }

  .filter {
    min-width: 150px;
  }

  #start {
    background-image: url("../../img/gittehaenning_start_BG_tablet.jpg");
    background-size: 100% auto;
    min-height: 80vh;
    .desc {
      width: 55vw;
    }
  }

  #career {
    .header {
      flex-direction: row;
    }
  }

  #work {
    .header {
      flex-direction: row;
      .head {
        margin-bottom: 3rem;
        padding-left: 5%;
        .line {
          position: absolute;
          left:0;
          bottom: 3.6rem;
        }
      }
    }
    .card-container {
      margin-left: 1rem;
      height: 33vw;
      width: 33vw;
    }
    .record {
      .back {
        padding: 1rem;
      }
    }
  }

  #live {
    align-items: flex-end;
    background-image: url("../../img/gittehaenning_live_BG_tablet.jpg");
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    .header {
      display: block;
      width: 50%;
      .head {
        padding: 0;
      }
    }
    #termine {
      align-self: flex-end;
      height: 60vh;
      width: 55vw;
      .concert {
        flex-direction: row;
      }
      .date {
        width: auto;
      }
    }
    .content {
      display: flex;
      flex-direction: column;
    }
    .head {margin-bottom: 2rem;}
    .note {
      align-self: flex-end;
      margin: 2rem 0 3rem;
      width: 55vw;
    }
  }

  .close {
    display: block;
  }
  // Footer Tablet
  footer {
    flex-direction: row;
  }
}
