$img-path: '../../img/';

$prime-color: #ea3d94;
$scondary-color: #fff;
$font-main-color: #000;

$text-font: 'Unna', sans-serif;
$headline-font: 'Unna', sans-serif;
$second-headline-font: 'Unna', sans-serif;
$headline-size: 7.2rem;
$headline-color: #fff;
$subheadline-size: 2.25rem;